{% extends 'layout.html' %}


{% block content %}
    <div id="wrapper" ng-app="admin">
        <div ng-include="'/admin/views/includes/navbar.html'"></div>
        <div ng-include="'/admin/views/includes/sidebar.html'"></div>

        <div id="page-wrapper">
            <div ng-include="'/admin/views/includes/title.html'"></div>

            <div ui-view></div>
            <!-- /ui-view -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
{% endblock %}

{% block end_js %}{% endblock %}

