<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Notewise Administration{% endblock %}</title>



    <link type="text/css" rel="stylesheet" href="css/admin.css" />

</head>

<body>
    {% block content %}{% endblock %}



    <!-- Core Scripts - Include with every page -->


    <script type="text/javascript" src="admin/app.js"></script>
    <script type="text/javascript" src="admin/controllers/home.js"></script>

    {% block end_js %}{% endblock %}

</body>

</html>
