<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Notewise Administration{% endblock %}</title>

    {% for file in assets.admin_css %}
        <link rel="stylesheet" href="{{file}}">
    {% endfor %}

</head>

<body>
    {% block content %}{% endblock %}

    

    {% for file in assets.admin_js %}
        <script type="text/javascript" src="{{ file }}"></script>
    {% endfor %}

    {% for file in assets.admin_app %}
        <script type="text/javascript" src="{{ file }}"></script>
    {% endfor %}

    {% block end_js %}{% endblock %}

</body>
</html>
