<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Notewise Administration{% endblock %}</title>

    <link type="text/css" rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="vendor/select2/select2.css" />
    <link type="text/css" rel="stylesheet" href="css/admin.css" />

</head>

<body ng-app="notewiseAdmin">
    {% block content %}{% endblock %}



    <!-- Core Scripts - Include with every page -->
    <script type="text/javascript" src="vendor/angular/angular.js"></script>



    {% block end_js %}{% endblock %}

</body>

</html>
