<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> A Panel
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                
                


            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        
        
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-search fa-fw"></i> Another Panel
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                
                
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->


        
    </div>
    <!-- /.col-lg-4 -->
</div>
<!-- /.row -->
