<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Notewise Administration{% endblock %}</title>

    <!-- build:style admin_vendor -->
    <!-- /build -->

    <!-- build:style admin -->
    <!-- /build -->

</head>

<body>
    {% block content %}{% endblock %}

    

    <!-- Core Scripts - Include with every page -->
    <!-- build:script adminCore -->
    <!-- /build -->

    <!-- build:script adminApp -->
    <!-- /build -->

    {% block end_js %}{% endblock %}

</body>
</html>
